

/*body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-image: url(c:\Users\angel\Downloads\descarga.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1.5;
    padding: 0;
    text-rendering: geometricPrecision;
    left: 200%;
}
*/
header {
    background-color: #7D3611;
    color: #FFF9ED;
    text-align: center; 
    padding: 100px;
    /* modifica el encabezado */

}
.image{
    position:left 20px;
    width: 380px;  
    /* modifica la imagen del encabezado */
  
}
.tab {
    overflow: hidden;
    background-color:#FFC672;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    
}
.tab button:hover {
    background-color: #FFF9ED;  
}
.tab button.active {
    background-color: white;
}
.content {
    display: none;
    padding: 15px;
    background-color: #FFF9ED;
  
}

.tablinks{
    font-family: 'Times New Roman', Times, serif, sans-serif;
   color: #441906;
   font-size: 15px;

}
body {
    background-color: #FFF9ED;
}
.contenet {
    column-count: 3; /* Divide en 3 columnas */
    column-gap: 10px; /* Espacio entre las columnas */
    position: static;
}

imagen-1{
    width: 100%; /* Ajusta el ancho de las imágenes al ancho de las columnas /
    height: auto; / Mantiene la proporción de la imagen /
    margin-bottom: 10px; / Espacio entre las imágenes */
}

}
imagen-2{
    width: 100%; 
    height: auto; 
    margin-bottom: 10px; 
}
}
imagen-3{
    width: 100%; 
    height: auto; 
    margin-bottom: 10px; 
}


imagen-4{
    position: absolute;
    width: 50px;
    top: 50PX;
    left: 50PX;
    height: auto;
}

imagen-5{
    position: absolute;
    width: 50px;
    top: 50PX;
    left: 50PX;
    height: auto;
}

imagen-6{
    position: absolute;
    width: 50px;
    top: 50PX;
    left: 50PX;
    height: auto;
}