

/*body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-image: url(c:\Users\angel\Downloads\descarga.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1.5;
    padding: 0;
    text-rendering: geometricPrecision;
    left: 200%;
}
*/
header {
    background-color:#FFC672;
    color: #FFF9ED;
    text-align: center; 
    padding: 10px;
    /* modifica el encabezado */

}
.image{
    position:left 20px;
    width: 380px;  
    /* modifica la imagen del encabezado */
  
}
.tab {
    overflow: hidden;
    background-color:#FFC672;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    
}
.tab button:hover {
    background-color: #FFF9ED;  
}
.tab button.active {
    background-color: white;
}
.content {
    display: none;
    padding: 15px;
    background-color: #FFF9ED;
  
}

.tablinks{
    font-family: 'Times New Roman', Times, serif, sans-serif;
   color: #441906;
   font-size: 15px;

}
body {
    background-color: #FFF9ED;
}


imagen-1{
    position: relative;
    width: 20px; /* Cambia el ancho de la imagen */
    height: auto; /* Mantiene la proporción original de la imagen */


 }
 .product-selector { 
    margin: 20px;
    padding: 20px;
    border: 1px solid #e4ba61;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-item {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #e2d40a;
  }
  
  .product-item img {
    max-width: 100%;
    height: auto;
  }
  
  .product-title {
    font-weight: bold;
  }
  
  .product-price {
    color: green;
  }
  
  .product-button {
    background-color: #007bff;
    color: rgb(117, 21, 155);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .product-button:hover {
    background-color: #0056b3;
  }
  img{
    width: 150px;
    padding:10px;
    height: 150px;
    
  }