/*body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-image: url(c:\Users\angel\Downloads\descarga.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1.5;
    padding: 0;
    text-rendering: geometricPrecision;
    left: 200%;
}
*/
header {
    background-color: #696767;
    color: #000000;
    text-align: center; 
    padding: 10px 0;

}
.image{
    position: center;
    width: 350px;   
   /* width: 350px;
    left: 80%;
    top: 2px;
    position: absolute;
    height: 400px;*/
}
.tab {
    overflow: hidden;
    background-color: #e9dfdf;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.2s;
}
.tab button:hover {
    background-color: #09374d;  
}
.tab button.active {
    background-color: #639aec;
}
.content {
    display: none;
    padding: 20px;
    background-color: #fff;
    border: 5px solid #ccc;
}
img{
position: central;
width: 400px;
}