.imagen-1{
    width: 350px;
    height: 250px;
    margin-left: 100px;
}

.imagen-2{
    width: 350px;
    height: 250px;
    margin-left: 100px;
}

.imagen-3{
    width: 350px;
    height: 250px;
    margin-left: 100px;
}